body {
    background-image: url('https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?cs=srgb&dl=pexels-moose-photos-1038002.jpg&fm=jpg');
    background-repeat: repeat;
    background-size: 100%, 100%;
  }

  form {
     display: flex;
     justify-content: center;
     margin-top: 150px;
  }

  legend {
      color: darkgray
  }

#ok {
    background-color: #fefebe;
    border: #fefebe;
    cursor: hand;
}

h1 {
    background-color: pink;
    padding: 5px 5px 5px 5px;
}

.hello {
    display: none;
    position:relative; 
}

.fade {
    animation: fade 8s;
    position: absolute;
  
  }
  
  @keyframes fade {
    0% {
      transform: translateY(900px);

    }


    100% {
      transform: translateY(-350px);
    
    }
  }

h2 {
  display: flex;
  justify-content: center;
}

 nav {
    display: none;
    padding-top: 10px;

}
@media screen and (max-width: 780px) {
  nav ul {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    line-height: 26px;
    padding: 5px 0 5px 0;
    position: absolute;
  }
  }

  ul {
    display: flex;
    justify-content: center;
    padding-top:8px;
    padding-left:5px;
    padding-bottom:10px;
    background-color: whitesmoke;
    opacity: .8;
  }
  
  li {
    list-style: none;
    margin: 0 20px;
    line-height: 35px;
  }
  a {
    color: black;
    text-decoration: none
  }

  .topcontainer {
    display: none;

}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.about {
background-color: whitesmoke;
opacity: .8;
padding: 15px 100px 15px 100px;
}


.skills {
  display: grid;
  justify-content: center;
  background-color: whitesmoke;
  opacity: .8;
  padding-top: 20px;
  padding-bottom: 20px;
 
}

.skills li {
  padding-top: 20px;
}

.title {
  font-size: larger;
  text-align: center;
  border-bottom: 3px dotted black;
}


.item {
font-size: small;
/* text-align: center; */
padding-left: 50px;
}


.footer {
  text-align: end;
  padding-top: 100px;
  font-size: small;
}
